body {
	background-color: pink;
	display: table;
	margin: 0 auto;
	height: 1000px;
}

#root {
	overflow: auto;
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
	width: 80%;
	/*padding-top: 40%;*/
	/*bottom: 40%;*/
	background-color: pink;
}

p, input {
	font-size: 35px;
	font-family: 'Inconsolata', monospace;
}

input {
	color: purple;
}


.display {
	overflow: auto;
	width: 100%;
	height: 180px;
}

.displayLine {
	float: left;
	width: 100%;
	padding-left: 10px;
	height: 35px;
}

.displayLine p {
	height: 5px;
	color: purple;
}

input {
	width: 100%;
	height: 50px;
	border-style: none;
	background-color: pink;
	color: purple;
}

/*.exp, .backspace {
	height: 100%;
}*/

.inputBtn {
	border-radius: 5em;
	border: 1px solid purple;
	width: 20%;
	height: 105px;
	background-color: purple;
	color: pink;
	border-style: none;
	transition-duration: 0.5s;
}

.rowOne.inputBtn {
	line-height: 0.5em;
}

.inputBtn:hover {
	border-radius: 0em;
	/*background-color: violet;*/
	background-color: pink;
	color: purple;
	/*color: pink;*/
	transition-duration: 0.5s;
}

input:focus, button:focus {
	outline: none;
}

input {
	caret-color: purple;
}

/*input, .rowOne, .rowTwo, .rowThree, .rowFour, .rowFive  {
	border-bottom: 1px solid white;
}*/

.rowOne, .rowTwo, .rowThree, .rowFour, .rowFive {
	position: relative;
	height: 20%;
}