body {
	background-color: pink;
	display: table;
	margin: 0 auto;
}

#root {
	overflow: auto;
	margin: 0 auto;
	display: table-cell;
	vertical-align: middle;
	padding-top: 45%;
	width: 80%;
	background-color: pink;
}

p, input {
	font-size: 195%;
	font-family: 'Inconsolata', monospace;
}

input {
	color: purple;
}


.display {
	overflow: auto;
	width: 100%;
	height: 180px;
}

.displayLine {
	float: left;
	width: 100%;
	padding-left: 10px;
	height: 35px;
}

.displayLine p {
	height: 5px;
	color: purple;
}

input {
	width: 100%;
	height: 50px;
	border-style: none;
	background-color: pink;
	color: purple;
}

/*.exp, .backspace {
	height: 100%;
}*/

.inputBtn {
	border-radius: 5em;
	border: 1px solid purple;
	width: 20%;
	height: 100%;
	background-color: purple;
	color: pink;
	border-style: none;
	transition-duration: 0.5s;
}

.row {
	position: relative;
	height: 100px;
}

.rowOne.inputBtn {
	line-height: 0.5em;
}

.inputBtn:hover {
	border-radius: 0em;
	/*background-color: violet;*/
	background-color: pink;
	color: purple;
	/*color: pink;*/
	transition-duration: 0.5s;
}

input:focus, button:focus {
	outline: none;
}

input {
	caret-color: purple;
}

/*input, .row  {
	border-bottom: 1px solid white;
}*/


@media only screen and (max-width: 1024px) and (max-height: 1366px) and (orientation : portrait) {

	.row {
		height: 170px;
	}

	.inputBtn {
		border-radius: 10em;
	}

	p, input {
		font-size: 340%;
	}

  #root {
		padding-top: 25%;
	}

}

@media only screen and (max-width: 1024px) and (max-height: 1366px) and (orientation : landscape) {

	.row {
		height: 170px;
	}

	.inputBtn {
		border-radius: 10em;
	}

	p, input {
		font-size: 340%;
	}

  #root {
		padding-top: 5%;
	}

}

@media only screen and (max-width: 768px) and (max-height: 1024px) and (orientation : portrait) {

	.row {
		height: 150px;
	}

	.inputBtn {
		border-radius: 10em;
	}

	p, input {
		font-size: 340%;
	}

  #root {
		padding-top: 5.5%;
	}

}

@media only screen and (max-width: 414px) and (max-height: 736px) and (orientation : portrait) {

	.row {
		height: 80px;
	}

	p, input {
		font-size: 215%;
	}

  #root {
		padding-top: 25%;
	}

}

@media only screen and (max-width: 375px) and (max-height: 667px) and (orientation : portrait) {

	.row {
		height: 75px;
	}

	p, input {
		font-size: 200%;
	}

  #root {
		padding-top: 16%;
	}

}

@media only screen and (max-width: 320px) and (max-height: 568px) and (orientation : portrait) {

	.row {
		height: 65px;
	}

	p, input {
		font-size: 165%;
	}

  #root {
		padding-top: 3.5%;
	}

}